<div class="container">
  <div class="card flex justify-content-center m-b-5">
    <p-autoComplete
      optionLabel="title"
      [(ngModel)]="toData"
      [suggestions]="searchResponseFromData"
      (completeMethod)="searchStationsFrom($event)"
    ></p-autoComplete>
    <p-button (click)="swapStations()" styleClass="m-x-5" icon="pi pi-arrow-right-arrow-left"></p-button>
    <p-autoComplete
      optionLabel="title"
      [(ngModel)]="fromData"
      [suggestions]="searchResponseToData"
      (completeMethod)="searchStationsTo($event)"
    ></p-autoComplete>
  </div>
<div class="flex">
  <p-selectButton
  [options]="optionsDate"
  [(ngModel)]="date"
  optionLabel="icon"
  optionValue="data"
  styleClass="p-1 m-b-5"
>
  <ng-template let-item pTemplate>
    <span>{{ item.label }}</span>
  </ng-template>
</p-selectButton>
<p-calendar
  [(ngModel)]="date"
  [showIcon]="true"
  inputId="buttondisplay"
  styleClass="m-b-5 m-x-5"
></p-calendar>
</div>

  <p-selectButton
    [options]="optionsTypeTransport"
    [(ngModel)]="transportType"
    optionValue="data"
    optionLabel="icon"
    styleClass="p-1 m-b-5"
  >
    <ng-template let-item pTemplate>
      <img
        *ngIf="item.src; else labelButton"
        [src]="item.src"
        class="m-2"
        width="20px"
        height="20px"
      />
      <ng-template #labelButton>
        <span>{{ item.label }}</span>
      </ng-template>
    </ng-template>
  </p-selectButton>

  <p-button (click)="selectedStation()" label="Найти" styleClass="m-b-5"></p-button>

  <div class="scroll">
    <div class="list-item flex" *ngFor="let cruese of listCruises">
      <div class="list-item__train-data flex col-6">
        <img
          height="15px"
          width="15px"
          [attr.src]="iconsTransport[cruese.thread.transport_type]"
        />
        <div class="list-item__descr">
          <p class="text-size-3">{{ cruese.thread.short_title }}</p>
          <p class="grey text-size-5">{{ cruese.thread.carrier.title }}</p>
          <p class="grey text-size-7">
            {{ cruese.thread.transport_subtype.title }}
          </p>
        </div>
      </div>
      <div class="list-item__date-start col-2">
        <p class="grey text-size-7">{{ cruese.departure | date : "d MMM" }}</p>
        <p class="bold text-size-3">{{ cruese.departure | date : "h:mm" }}</p>
        <p class="grey text-size-7">{{ cruese.from.title }}</p>
      </div>
      <div class="list-item__ride-time col-2">
        <p class="text-size-3 grey">
          {{
            cruese.arrival | deltTime : cruese.departure | number : "1.0-1"
          }}
          ч.
        </p>
      </div>
      <div class="list-item__date-end col-3">
        <p class="grey text-size-7">
          {{ cruese.arrival | date : "d MMM" }}
        </p>
        <p class="text-size-3">
          {{ cruese.arrival | date : "h:mm" }}
        </p>
        <p class="grey text-size-5">
          {{ cruese.to.title }}
        </p>
      </div>
    </div>
  </div>
</div>
